<h2>Запись</h2>
<table class="table table-striped">
    <thead>
           <tr>
                <td>Доктор</td>
                <td>Клиент</td>
                <td>Дата</td>
            </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td></td>
            <td></td>
            <td>@item.Date</td
        </tr>
    }
</table>
